* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    height: 100vh;
    width: 100%;
    /* background-color: rgba(0,0,0,0.5);  */
        
}

.background-clip {
    position: absolute;
     right: 0;
    bottom: 0;
    z-index: -1;
}

    @media (min-aspect-ratio:16/9) {
        .background-clip {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    @media (max-aspect-ratio:16/9) {
        .background-clip {
            width: auto;
            height: 100%;
            object-fit: cover;
        }
    }

    .my-nav {
      position: absolute;
      top: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 3% 5%;
      z-index: 10;
  
    }

    .logo {
        height: 100px !important;
        width: 100px !important;
        justify-content: center !important;
        margin-top: 2px !important;
        margin-bottom: 2px !important;
        padding-left: 2px !important;
        background: transparent !important;
        border-radius: 50%;
        
    }

    .lg-txt {
        font-size:  30px !important;
       margin-right: 300px !important;
       font-family: "Bebas Neue", sans-serif !important;
     font-weight: 400 !important;
     font-style: normal !important;
     text-decoration: none;
     color: #ff9e23;
     text-shadow: 0px 0px 50px #ff9e23 !important;
     padding: 5px;
     
    }

    span {
        font-family: "Bebas Neue", sans-serif !important;
        color: #fb6825 ;
        cursor: pointer;
        text-shadow: 0px 0px 50px #ce2029 ;
       }

       nav li a {
        border: 2px solid #ff9e23 !important;
        color:  #fb6825 !important;
        padding: 0.25rem 0.5rem !important;
        border-radius: 4px !important;
        text-decoration: none;
        font-size: 25px !important;
        font-family: "Bebas Neue", sans-serif !important;
        margin-left: 33rem;
        backdrop-filter: blur(30px) !important;
       }

       nav li a:hover {
         color: white !important;
         border-bottom: 1px solid  #ff9e23;
         border-top: 1px solid  #ff9e23 ;
         transition: 0.4s ease-in-out;
         text-shadow:  0 0 25px #f0a11f;
       }

       .cssbuttons-io-button {
        background: #fb6825;
        color: #fff;
        font-family: inherit;
        margin-left: 28rem;
        padding: 0.35em;
        padding-left: 1.2em;
        font-size: 17px;
        font-weight: 500;
        border-radius: 0.9em;
        border: none;
        letter-spacing: 0.05em;
        display: flex;
        align-items: center;
        box-shadow: inset 0 0 1.6em -0.6em #ff9e23;
        overflow: hidden;
        position: relative;
        height: 2.8em;
        padding-right: 3.3em;
       }
       
       .cssbuttons-io-button .icon {
        background: #fff;
        margin-left: 1em;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.2em;
        width: 2.2em;
        border-radius: 0.7em;
        box-shadow: 0.1em 0.1em 0.6em 0.2em #ff9e23 ;
        right: 0.3em;
        transition: all 0.3s;
       }
       
       .cssbuttons-io-button:hover .icon {
        width: calc(100% - 0.6em);
       }
       
       .cssbuttons-io-button .icon svg {
        width: 1.1em;
        transition: transform 0.3s;
        color: #f0a11f;
       }
       
       .cssbuttons-io-button:hover .icon svg {
        transform: translateX(0.1em);
       }
       
       .cssbuttons-io-button:active .icon {
        transform: scale(0.95);
       }
       .content {
        width: 100%;
        margin-top: 100px;
        position: absolute;
        color: white;
        top: 45%;
        transform: translateY(-50%);
        text-align: center;

       }

       .content h1 {
        margin-top:  35px;
        font-size: 120px;
        font-weight: 700;

       }

       .content a {
        padding: 15px 25px;
        text-align: center;
        border-radius: 50px;
        border: 2px solid white;
        color: white;
        text-decoration: none;
        font-size: 23px;
        cursor: pointer;
        margin-bottom: 20px;

       }


       .content a:hover {
        background-color:  #65bbca;
        transition: 0.5s;
       }

       .content a:hover {
        color: white;
       }

       @media (max-width: 768px){
        .main-container {
          background-image: url(pics/Index-bg-mb.png);
          background-size: cover;
          background-repeat: no-repeat;
        }
        .navbar-toggler {
          margin-right: 2rem;
          
        }
        .logo {
          height: 80px !important;
          width: 80px !important;
          display: flex !important;
  
          
        }
        .lg-txt {
          font-size: 25px !important;
          display: flex !important;
          top: 0 !important;
          left: 0 !important;
          margin-right: 1rem !important;
        }
        nav li a {
          font-size: 15px !important;
        }
         

        .jt__text{
            font-size: 40px !important;
            justify-content:  center;
            display: flex;
            align-items: center;
            
        }

        .click-here {
          margin-left: 15rem;
        }

       
    }
    .logo-anim {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .logo-clip {
       background: transparent;
       width: 100px;
       height: 100px;  
       margin-top: 20rem;
       

    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15rem;
    }
    .jt {
        position: relative;
        font-size: 20vmin;
        font-family: 'Staatliches', sans-serif;
        text-transform: uppercase;
        font-display: swap;
        text-shadow: 0 0 10px #ff9e23;
      }
      
      .jt__row {
        display: block;
      }
      .jt__row:nth-child(1) {
        clip-path: polygon(-10% 75%, 110% 75%, 110% 110%, -10% 110%);
      }
      .jt__row:nth-child(2) {
        clip-path: polygon(-10% 50%, 110% 50%, 110% 75.3%, -10% 75.3%);
      }
      .jt__row:nth-child(3) {
        clip-path: polygon(-10% 25%, 110% 25%, 110% 50.3%, -10% 50.3%);
      }
      .jt__row:nth-child(4) {
        clip-path: polygon(-10% 0%, 110% 0%, 110% 25.3%, -10% 25.3%);
      }
      
      .jt__row.jt__row--sibling {
        position: absolute;
        top: 0;
        left: 0;
        user-select: none;
        width:800px;
      }
      
      .jt__text {
        display: block;
        transform-origin: bottom left;
        color: #ff9e23;
        text-shadow: 0 0 50px #ff9e23;
        font-size: 120px;
        animation: moveIn 10s 0s cubic-bezier(.36,0,.06,1) alternate infinite ;
      }
      .jt__row:nth-child(1) .jt__text {
        transform: translateY(-0.1em);
      }
      .jt__row:nth-child(2) .jt__text {
        transform: translateY(-0.3em) scaleY(1.1);
      }
      .jt__row:nth-child(3) .jt__text {
        transform: translateY(-0.5em) scaleY(1.2) ;
      }
      .jt__row:nth-child(4) .jt__text {
        transform: translateY(-0.7em) scaleY(1.3) ;
      }
      .jt__row:nth-child(5) .jt__text {
        transform: translateY(-0.9em) scaleY(1.4) ;
      }
      .jt__row:nth-child(6) .jt__text {
        transform: translateY(-1.1em) scaleY(1.5) ;
      }
      
      @keyframes moveIn {
        50%, 100% { 
          transform: translateY(0em)
        }
        0%   { 
        opacity: 0; 
        filter: blur(10px);
        
        }
        100% { 
        opacity: 1; 
        filter: blur(0px);
        }
      }

      @media (max-width: 768px) {
        .title {
            font-size: 24px;
            margin-left: 1.5rem;
        }
        .div-txt {
            bottom: 10px;
        }
        .click-here {
          margin-left: 2rem !important;
          font-size: 18px !important;
          margin-bottom: 10rem !important;
        
    }
  }
    
    @media (max-width: 480px) {
        .title {
            /* font-size: 24;
            margin-left: 2rem; */
           font-size: 24px !important;
          
           
        }
      }
      
      
      
      .debug .jt__row:nth-child(even) {
        color: black;
        background: white;
      }
      .debug .jt__row:nth-child(odd) {
        color: white;
        background: black;
      }

      .div-txt {
        visibility: hidden;
        animation: fadeIn 5s ease-in-out;
        transition: 0.4s;
        
      }

      .click-here {
        font-family: "Bebas Neue", sans-serif !important;
        padding: 15px 25px;
        text-align: center;
        border-radius: 50px;
        border: 2px solid #fb6825;
        margin-left: 32rem;
        color: white;
        text-decoration: none;
        font-size: 30px;
        cursor: pointer;
        margin-bottom: 20px;
        margin-top: 10rem;
      }

      .click-here:hover {
        background-color:  #ff9e23;
        transition: 0.5s;
       }
  
      
      @keyframes fadeIn {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }